.container{	
	margin: 0px auto;
	width: 980px;
	padding: 5px;	
}
[class^="column-"], [class*=" column-"] {
    display:grid;
	--gridTC:repeat(1,1fr);
	grid-template-columns:var(--gridTC);

}
.column-1{
	--gridTC:repeat(1,1fr);
}
.column-2{
	--gridTC:repeat(2,1fr);
}
.column-3{
	--gridTC:repeat(3,1fr);
}
.column-4{
	--gridTC:repeat(4,1fr);
}
[class^="column-"] div, [class*=" column-"] div{
	border: 1px solid yellowgreen;
	text-align: center;
	padding: 15px 0;
}
/* Column Expand  */
.span-2{grid-column: span 2;}
.span-4{grid-column: span 4;}
/* Column Gap  */
[class^="gap-"], [class*=" gap-"]{
	--gg: 1rem;
	grid-gap: var(--gg);
} 
.gap-1{ --gg: 1rem;} 
.gap-2{ --gg: 2rem;} 
.gap-3{ --gg: 3rem;} 
.gap-4{ --gg: 4rem;} 
.gap-5{ --gg: 5rem;} 
/* Margin  */
.mt-1{margin-top: 1rem;}
/* Border  */
.border{border: 1px solid yellow;}

@media(max-width: 786px){
	.container{
		width: 95%;
	}
	.column-1, .column-2, .column-3, .column-4{
		--gridTC:repeat(1,1fr);
	}
	.span-2, .span-4{
		grid-column: span 1;
	}
}

